.row
  .col-lg-12
    %h4.page-header #{@permission.name} : Add Prompt
  .col-md-12
    .row
      = form_for(@pre_prompt, url: app_pre_prompts_path(@app)) do |f|
        = f.hidden_field :permission_id
        = f.hidden_field :app_id
        .col-md-8
          .panel.panel-default
            .panel-heading Prompt
            .panel-body
              %fieldset
                %legend Asset Information
                .row{style: 'padding-bottom: 10px;'}
                  .col-sm-6
                    .form-group
                      %label Upload Asset
                      = f.file_field :source#, class: 'form-control'
                  .col-sm-6.hide
                    %a{:href => "#"}
                      %img.img-thumbnail#source-preview{src: '#', width: 150, height: 150}/
                .row
                  .col-sm-6
                    .form-group
                      %label Heading
                      = f.text_field :header, placeholder: 'Heading',class: 'form-control'
                  .col-sm-6
                    .form-group
                      %label Heading Position
                      = f.select :header_position, %w(left right center) , {include_blank: 'Select'}, {class: 'form-control'}
                .row
                  .col-sm-6
                    .form-group
                      %label Footer
                      = f.text_field :footer, placeholder: 'Footer',class: 'form-control'
                  .col-sm-6
                    .form-group
                      %label Footer Position
                      = f.select :footer_position, %w(left right center) , {include_blank: 'Select'}, {class: 'form-control'}

                .row
                  .col-sm-6
                    .form-group
                      %label Content
                      = f.text_field :content, placeholder: 'Content',class: 'form-control'
                  .col-sm-6
                    .form-group
                      %label Content Position
                      = f.select :content_position,PrePrompt::POSITIONS, {include_blank: 'Select'}, {class: 'form-control'}
                %fieldset
                  %legend Button Actions
                  = f.nested_fields_for :button_actions do |ff|
                    .row
                      .col-sm-12
                        .form-group
                          %label
                            = ff.radio_button :btn_type, 0 ,checked: true, class: 'button-action-type'
                            None
                    .row
                      .col-sm-12
                        .form-group
                          %label
                            = ff.radio_button :btn_type, 1 ,checked: false, class: 'button-action-type'
                            Text
                    .row.hide.btn-controls
                      .col-sm-6
                        .form-group
                          = ff.text_field :text, placeholder: 'Text',class: 'form-control'
                      .col-md-6
                        .form-group
                          = ff.select :text_position, PrePrompt::POSITIONS, {include_blank: "Select"}, {class: 'form-control'}
                    .row
                      .col-sm-12
                        .form-group
                          %label
                            = ff.radio_button :btn_type, 2 ,checked: false, class: 'button-action-type'
                            Image
                    .row.hide.btn-controls
                      .col-sm-12
                        .form-group
                          = ff.file_field :source
                    .row
                      .col-sm-12
                        .pull-right{style: 'margin: -25px 10px 0 0'}
                          = ff.remove_nested_fields_link
                    %hr
                  .row
                    .col-sm-12
                      .pull-right{style: 'margin-bottom: 10px;'}
                        = f.add_nested_fields_link :button_actions
                  .row
                    .col-sm-12
                      .pull-right
                        %button.btn.btn-default{type: 'reset'} Reset
                        %button.btn.btn-primary Save
        .col-md-4
          .panel.panel-default
            .panel-heading Preview
            .panel-body
              Preview goes here
:javascript
  function previewUploadedImage(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#source-preview').attr('src', e.target.result);
          }

          reader.readAsDataURL(input.files[0]);
      }
  }

  $("#new_pre_prompt #pre_prompt_source").change(function(){
      previewUploadedImage(this);
      $('#source-preview').closest('.col-sm-6').addClass('show')
  });