:css
  .flex, .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
  }

  .panel {
    display: flex;
    flex-direction:column;
    align-content:stretch;
  }

  .panel-body {
    display: flex;
    flex-grow:1;
  }


.row
  .col-lg-12
    %h3.page-header Upload Tour Assets
  .col-md-12
    .row
      = form_for(@pre_prompt, url: app_pre_prompts_path(@app)) do |f|
        = f.hidden_field :preference_id
        = f.hidden_field :app_id
        .col-md-8
          .panel.panel-default
            .panel-heading Form
            .panel-body
              .row
                .col.md-12{style: 'padding-left: 10px;'}
                  .form-group
                    %label Upload Asset
                    = f.file_field :source#, class: 'form-control'
                  .form-group
                    %label Header
                    = f.text_field :header, placeholder: 'Header',class: 'form-control'
                  .form-group
                    - PrePrompt::POSITIONS.each do |position|
                      .radio
                        %label
                          = f.radio_button :header_position, position ,checked: false
                          #{position}
                  .form-group
                    %label Text
                    = f.text_field :text, placeholder: 'Text',class: 'form-control'
                  .form-group
                    - PrePrompt::POSITIONS.each do |position|
                      .radio
                        %label
                          = f.radio_button :text_position, position ,checked: false
                          #{position}
                  .form-group
                    %label Buttons
                    %hr
                    = f.nested_fields_for :button_actions do |ff|
                      .form-group
                        %label
                          = ff.radio_button :btn_type, 0 ,checked: true, class: 'button-action-type'
                          None
                      .form-group
                        %label
                          = ff.radio_button :btn_type, 1 ,checked: false, class: 'button-action-type'
                          Text
                          .row.hide.example
                            .col-md-6
                              .form-group
                                = ff.text_field :text, placeholder: 'Text',class: 'form-control'
                            .col-md-6
                              .form-group
                                = ff.select :text_position, PrePrompt::POSITIONS, {:include_blank => "Select Position"}, {:class => "form-control"}
                      .form-group
                        %label
                          = ff.radio_button :btn_type, 2 ,checked: false, class: 'button-action-type'
                          Image
                          .row.hide.example
                            .col-lg-12
                              .form-group
                                = ff.file_field :source
                      .form-group.pull-right{style: 'margin: -25px 10px 0 0'}
                        = ff.remove_nested_fields_link
                      %hr
                    .pull-right
                      = f.add_nested_fields_link :button_actions
            .panel-footer.pull-right
              %button.btn.btn-default Reset
              %button.btn.btn-primary Save
        .col-md-4
          .panel.panel-default
            .panel-heading Preview
            .panel-body
              Preview goes here