.container
  .card-panel
    .row
      .col.s12
        %h5 Sign up
        .divider
        %br
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .row
            .col.s12
              - if resource.errors.any?
                = render 'shared/error_messages', resource: resource
          .row
            .input-field.col.s12
              = f.email_field :email, autofocus: true, class: 'validate'
              %label{:for => "email" , 'data-error'=> "Invalid email" , 'data-success'=>"right"} Email
          .row
            .input-field.col.s12
              = f.password_field :password, autocomplete: "off", minlength: @minimum_password_length ? @minimum_password_length : 8
              %label{:for => "password"} Password
          .row
            .input-field.col.s12
              = f.password_field :password_confirmation, autocomplete: "off"
              %label{:for => "confirm-password"} Confirm password
          .row
            .col.s12
              = f.submit "Sign up", class: 'waves-effect waves-light btn'
          .row
            .col.s12
              = render "devise/shared/links"
