:css
  body {
    font-family: 'Open Sans', sans-serif;
    background: url(#{ asset_path("home/head-bg.jpg") }) no-repeat 0px 0px;
    transition: 0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
  }

- page_title 'Register'
.container
  .row.text-justify
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .middlePage.col-md-6.col-md-offset-6
        .page-header.text-center
          %h3.logo
            = link_to image_tag('small-logo-green.png') , root_path
        .panel.panel-info
          .panel-heading
            %h3.panel-title Please Register
          .panel-body
            .row
              .col-sm-12
                %fieldset
                  .row
                    .col-sm-6
                      .form-group
                        = f.text_field :fname,  class: 'form-control', required: false, placeholder: 'First Name'
                    .col-sm-6
                      .form-group
                        = f.text_field :lname,  class: 'form-control', required: false, placeholder: 'Last Name'
                  .row
                    .col-sm-6
                      .form-group
                        = f.email_field :email,  class: 'form-control', required: false, placeholder: 'Email'
                    .col-sm-6
                      .form-group
                        = f.text_field :company,  class: 'form-control', required: false, placeholder: 'Company Name'
                  .row
                    .col-sm-6
                      .form-group
                        = f.password_field :password,  class: 'form-control', required: false, placeholder: 'Password'
                    .col-sm-6
                      .form-group
                        = f.password_field :password_confirmation,  class: 'form-control', required: false, placeholder: 'Confirm Password'
                  .spacing
                  .row
                    .col-sm-12
                      .form-group
                        Have an account?
                        %a{href: new_session_path(resource_name)}
                          %small Login
            .row
              .col-sm-12.pull-right
                = f.submit 'Sign up', class: 'btn btn-info btn-sm pull-right hello'
        %p.text-center
          %a{href:  t('app.company.url'), target: '_blank'} About
          · #{t('app.company.name')}

-#.container
  .card-panel
    .row
      .col.s12
        %h5 Sign up
        .divider
        %br
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .row
            .col.s12
              - if resource.errors.any?
                = render 'shared/error_messages', resource: resource
          .row
            .input-field.col.s6
              = f.text_field :fname,  class: 'validate', required: true
              %label{:for => "fname" , 'data-error'=> "Invalid" , 'data-success'=>"right"} First Name
            .input-field.col.s6
              = f.text_field :lname,  class: 'validate', required: true
              %label{:for => "lname" , 'data-error'=> "Invalid" , 'data-success'=>"right"} Last Name
          .row
            .input-field.col.s12
              = f.email_field :email, class: 'validate'
              %label{:for => "email" , 'data-error'=> "Invalid email" , 'data-success'=>"right"} Email
          .row
            .input-field.col.s12
              = f.password_field :password, autocomplete: "off", required: true#, minlength: @minimum_password_length ? @minimum_password_length : 8
              %label{:for => "password"} Password
          .row
            .input-field.col.s12
              = f.password_field :password_confirmation, autocomplete: "off", required: true
              %label{:for => "confirm-password"} Confirm password
          .row
            .col.s12
              = f.submit "Sign up", class: 'waves-effect waves-light btn'
          .row
            .col.s12
              = render "devise/shared/links"
