= page_title("Permission Edit- #{@permission.name}")

%h5
  = @app.name
  %small #{@permission.name} permission edit
.row
  .col.s12.m12
    .card-panel.grey.lighten-5.z-depth-1
      .row
        .col.s12
          = render 'shared/text_editing_version', app: @app, version: @template.app_version
          = form_for(@template, url: template_path(@template)) do |f|
            = hidden_field_tag :version , params[:version]
            %h5 Target Platform
            .row
              .input-field.col.s12.m6
                %select{name: "template[:platform_id]"}
                  %option{:disabled => "disabled", :value => ""} Choose your option
                  %option{selected: "selected", value: @platform.id}= @platform.name
              .input-field.col.s12.m6
                = f.select :platform_category_id, options_for_select(@platform_categories.pluck(:name, :id), 'iPhone 6s'), { include_blank: false}, {class: 'form-control'}

            - if @template.errors.any?
              .row
                .col.s12
                  = render 'shared/error_messages', resource: @template

            #templates_fields
              = f.fields_for :templates,f.object.new_record? ? @template : @templates do |tf|
                = render 'tour/template_fields', f: tf
              .links.text-center
                = link_to_add_association f, :templates, title: 'Add one more step',class: 'btn btn-circle-sm btn-success', data: {toggle: 'tooltip'} do
                  %span.glyphicon.glyphicon-plus


            .row#text_assets_fields
              %h5 Text Assets
              .col.s12
                = f.fields_for :text_assets do |ts|
                  = render 'templates/text_asset_fields', f: ts
                .links.center
                  = link_to_add_association f, :text_assets, title: 'Add another',class: '', data: {toggle: 'tooltip'} do
                    %i.material-icons.small add
            .row
              .col.s12
                %h5 Actions
            .row#button_actions_fields
              .col.s12
                = f.fields_for :button_actions do |ts|
                  = render 'templates/button_action_fields', f: ts
                .links.center
                  = link_to_add_association f, :button_actions, title: 'Add another',class: '', data: {toggle: 'tooltip'} do
                    %i.material-icons.small add
            .row
              .col.s12
                %button.waves-effect.waves-light.btn.red.darken-1{href: template_path(@template)}
                  %i.material-icons.left clear
                  Cancel
                %button.waves-effect.waves-light.btn.cyan.right{"data-loading-text"=>btn_prog_text('Saving'), type: 'submit'}
                  %i.material-icons.left done
                  Update