= page_title("Permission- #{@permission.name}")
%section.content-header
  %h4
    = @app.name
    %small #{@permission.name} permission
  %ol.breadcrumb
    %li
      %a{:href => my_apps_path}
        Apps
    %li
      %a{:href => app_path(@app)}
        = @app.name
    %li
      Permissions
    %li.active= @permission.name
%section.content
  .row
    .col-md-10.col-md-offset-1.col-xs-12
      = render 'shared/text_editing_version', app: @app, template: nil
      .row
        .col-sm-12
          .alert.alert-info.alert-dismissible.fade.in
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
            %h4
              What is it
              %i.icon.fa.fa-question
            = @permission.description
      .row
        .col-sm-12
          .alert.alert-success.alert-dismissible.fade.in
            %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
            %h4
              %i.icon.fa.fa-info-circle
              Pro Tip
            = @permission.pro_tip
      = form_for(@template, url: app_templates_path(@app)) do |f|
        = f.hidden_field :permission_id
        = f.hidden_field :app_id
        %fieldset.target-platform.text-center
          %legend TARGET PLATFORM
          .row
            .col-md-6.col-xs-6
              .form-group
                %select.form-control{name: "template[:platform_id]"}
                  %option{selected: "selected", value: @platform.id}= @platform.name
            .col-md-6.col-xs-6
              .form-group
                = f.select :platform_category_id, options_for_select(@platform_categories.pluck(:name, :id), 'iPhone 6s'), { include_blank: false}, {class: 'form-control'}
        .box.box-primary
          .box-header.with-border
            %h3.box-title= @app.name
            .box-tools.pull-right
              %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
                %i.fa.fa-minus
              %a.btn.btn-primary.btn-sm{href: app_path(@app), "data-toggle" => "tooltip",  :title => "Cancel"}
                %i.fa.fa-times
          .box-body
            .row.text-center
              .col-md-10.col-md-offset-1.col-xs-12
                - if @template.errors.any?
                  .row
                    .col-sm-12
                      = render 'shared/error_messages', resource: @template
                / Images Assets
                .row
                  .col-xs-12
                    %h3 Image Assets
                .row.text-center
                  .col-xs-12
                    %a{href: "#"}
                      %img.img-thumbnail.image-asset-source-preview{width: 100, height: 100, src: 'http://placehold.it/100x100&text=Browse'}/
                    %label.btn.btn-default.btn-sm.btn-file{style: 'margin-left: 10px;'}
                      Choose..
                      = f.file_field :source , style: 'display: none;', class: 'image-asset-source-input'
                      %span.label.label-info
                / Text Assets
                .row
                  .col-xs-12
                    .row
                      .col-xs-12
                        %h3 Text Assets
                    .row#text_assets_fields
                      .col-xs-12
                        = f.fields_for :text_assets do |ts|
                          = render 'templates/text_asset_fields', f: ts
                        .links
                          = link_to_add_association f, :text_assets, title: 'Add another',class: 'btn btn-circle-mini bg-light-blue-active', data: {toggle: 'tooltip'} do
                            %span.glyphicon.glyphicon-plus
                / Button Actions
                .row
                  .col-xs-12
                    .row
                      .col-xs-12
                        %h3 Actions
                    .row#button_actions_fields
                      .col-xs-12
                        = f.fields_for :button_actions do |ts|
                          = render 'templates/button_action_fields', f: ts
                        .links
                          = link_to_add_association f, :button_actions, title: 'Add another',class: 'btn btn-circle-mini bg-light-blue-active', data: {toggle: 'tooltip'} do
                            %span.glyphicon.glyphicon-plus
          .box-footer
            %a.btn.btn-default{href: app_path(@app)}
              %i.fa.fa-close
              = space
              CANCEL
            %button.btn.btn-progress.pull-right.bg-olive{"data-loading-text"=>btn_prog_text('Saving'), type: 'submit'}
              %i.fa.fa-check
              = space
              SAVE AS DRAFT