= page_title("#{@permission.name} | Permission ")
%section.content-header
  %h4= "#{@permission.name} Permission"
  %ol.breadcrumb
    %li
      %a{href: my_apps_path}
        Apps
    %li
      %a{href: app_path(@template.app)}= @template.app.name
    %li Permissions
    %li.active= @permission.name
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_1"} Image Asset
          %li
            %a{"data-toggle" => "tab", :href => "#tab_2"} Text Assets
          %li
            %a{"data-toggle" => "tab", :href => "#tab_3"} Btn Actions
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Dropdown
              %span.caret
            %ul.dropdown-menu
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Action
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Another action
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Something else here
              %li.divider{:role => "presentation"}
              %li{:role => "presentation"}
                %a{:href => "#", :role => "menuitem", :tabindex => "-1"} Separated link
          %li.pull-right
            %a.text-muted{:href => "#"}
              %i.fa.fa-gear
        .tab-content
          #tab_1.tab-pane.active
            .box.box-default
              .box-header.with-border
                .box-body
                  %a.magnific-popup-img{href: @template.source.url, title: 'Image Asset'}
                    %img.img-responsive.pad{:alt => "Photo", :src => @template.source.thumb.url}
                  -#%p I took this photo this morning. What do you guys think?
                  %button.btn.btn-default.btn-xs{:type => "button"}
                    %i.fa.fa-edit
                    Edit
                  %button.btn.btn-danger.btn-xs{:type => "button"}
                    %i.fa.fa-remove
                    Delete
                  %span.pull-right.text-muted
                    #{time_ago_in_words(@template.created_at)} ago
          #tab_2.tab-pane
            The European languages are members of the same family. Their separate existence is a myth.
            For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
            in their grammar, their pronunciation and their most common words. Everyone realizes why a
            new common language would be desirable: one could refuse to pay expensive translators. To
            achieve this, it would be necessary to have uniform grammar, pronunciation and more common
            words. If several languages coalesce, the grammar of the resulting language is more simple
            and regular than that of the individual languages.
          #tab_3.tab-pane
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.

