= page_title("#{@permission.name} | Permission ")
%section.content-header
  %h4= "#{@permission.name} Permission"
  %ol.breadcrumb
    %li
      %a{href: my_apps_path}
        Apps
    %li
      %a{href: app_path(@template.app)}= @template.app.name
    %li Permissions
    %li.active= @permission.name
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_1"} Image Asset
          %li
            %a{"data-toggle" => "tab", :href => "#tab_2"} Text Assets
          %li
            %a{"data-toggle" => "tab", :href => "#tab_3"} Btn Actions
          %li.pull-right
            .btn-group
              %button.btn.btn-box-tool.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %i.fa.fa-gear
              %ul.dropdown-menu.pull-right{:role => "menu"}
                %li
                  %a.text-light-blue{:href => "#"}
                    %i.fa.fa-edit
                    Edit
                %li.divider
                %li
                  %a.text-red{:href => "#"}
                    %i.fa.fa-trash-o
                    Delete
              %button.btn.btn-box-tool{href: app_path(@template.app),data: {widget: 'remove',toggle: 'tooltip'}, title: 'Close'}
                %i.fa.fa-times
        .tab-content
          #tab_1.tab-pane.active
            .box.box-default
              .box-header.with-border
                .box-body
                  %a.magnific-popup-img{href: @template.source.url, title: 'Image Asset'}
                    %img.img-responsive.pad{:alt => "Photo", :src => @template.source.thumb.url}
                  -#%p I took this photo this morning. What do you guys think?
                  %button.btn.btn-default.btn-xs{:type => "button"}
                    %i.fa.fa-edit
                    Edit
                  %button.btn.btn-danger.btn-xs{:type => "button"}
                    %i.fa.fa-remove
                    Delete
                  %span.pull-right.text-muted
                    #{time_ago_in_words(@template.created_at)} ago
          #tab_2.tab-pane
            .box
              .box-header
                -#%h3.box-title Striped Full Width Table
              .box-body.no-padding
                %table.table.table-striped
                  %tbody
                    %tr
                      %th #
                      %th Text
                      %th{style: 'width: 20px'} Position
                      %th{style: 'width: 100px'}
                    - @template.text_assets.each_with_index do |ts, index|
                      %tr
                        %td= "#{index+1}."
                        %td= ts.text
                        %td
                          %span.badge.bg-light-blue= ts.position
                        %td
                          %a.text-red{href: '#'}
                            %i.fa.fa-trash-o
                            Delete
          #tab_3.tab-pane
            .box
              .box-header
              -#%h3.box-title Striped Full Width Table
              .box-body.no-padding
                %table.table.table-striped
                  %tbody
                    %tr
                      %th #
                      %th Type
                      %th Label/Image
                      %th Target Event
                      %th
                    - @template.button_actions.each_with_index do |bc, index|
                      %tr
                        %td= "#{index+1}."
                        %td
                          - if bc.btn_type.eql?(1)
                            %span.badge.bg-light-blue Text
                          - else
                            %span.badge.bg-yellow Image
                        %td
                          - if bc.btn_type.eql?(1)
                            = bc.label
                          - else
                            %a.magnific-popup-img{href: @template.source.url, title: 'Image Asset'}
                              show
                        %td= bc.target_event
                        %td
                          %a.text-red{href: '#'}
                            %i.fa.fa-trash-o
                            Delete

