= page_title("#{@app.name} | Tour ")

%h5= "#{@app.name} Tour"

.row
  .col.s12.valign
    %a.text-light-blue{href:  versions_path(@app)}
      Now Editing Version #{@templates.first.app_version}*
    %a.btn.btn-default.btn-sm.cyan.right{href: edit_tour_app_path(@app)}
      %i.material-icons.left mode_edit
      Edit Tour
.row
  .col.s12
    %ul.tabs.cyan
      - @templates.each_with_index do |template, index|
        %li.tab.col.s3
          %a.white-text{class: index.eql?(1) ? nil : 'active', :href => "#test#{index+1}"} Step #{index+1}
    - @templates.each_with_index do |template, index|
      .col.s12.z-depth-1{id: "test#{index+1}"}
        %br/
        %ul.tabs.grey
          %li.tab.col.s3
            %a.white-text{"data-toggle" => "tab", :href => "#tab_image_assets_#{template.id}"} Image Asset#{index+1}
          %li.tab.col.s3
            %a.white-text{"data-toggle" => "tab", :href => "#tab_text_assets_#{template.id}"} Text Assets
          %li.tab.col.s3
            %a.white-text{"data-toggle" => "tab", :href => "#tab_btn_actions_#{template.id}"} Btn Actions

        .col.s12{id: "tab_image_assets_#{template.id}"}
          %br/
          %img.materialboxed{:src => template.source.url, :width => "200"}/
          %p click on above image to preview
          %p.text-muted
            Updated #{time_ago_in_words(template.created_at)} ago
        .col.s12{id: "tab_text_assets_#{template.id}"}
          %h5 Text Assets
          %table.striped
            %thead
              %tr
                %th #
                %th Text
                %th Position
                %th
            %tbody
              - template.text_assets.each_with_index do |ts, index|
                %tr
                  %td= "#{index+1}"
                  %td= ts.text
                  %td= ts.position
                  %td
                    %a.text-red{href: '#',data: {toggle: 'tooltip'}, title: 'Delete'}
                      %i.material-icons.red-text delete
          %br/
        .col.s12{id: "tab_btn_actions_#{template.id}"}
          %table.striped
            %thead
              %tr
                %th #
                %th Type
                %th Label/Image
                %th Target Event
                %th
            %tbody
              - template.button_actions.each_with_index do |bc, index|
                %tr
                  %td= "#{index+1}."
                  %td
                    - if bc.btn_type.eql?(1)
                      Text
                    - else
                      Image
                  %td
                    - if bc.btn_type.eql?(1)
                      = bc.label
                    - else
                      %img.materialboxed{:src => bc.source.url, :width => "50"}/
                  %td= bc.target_event
                  %td
                    %a.text-red{href: '#',data: {toggle: 'tooltip'}, title: 'Delete'}
                      %i.material-icons.red-text delete
          %br/
        .col.s12
          %a.waves-effect.waves-light.btn.red.darken-1{href: template_path(template), data: { method: :delete,confirm: 'Are you sure?'}}
            %i.material-icons.left delete
            Delete step#{index+1}
          %a.waves-effect.waves-light.btn.cyan.right{href: edit_template_path(template)}
            %i.material-icons.left mode_edit
            Edit step#{index+1}
          %br/
          %br/