.row.add-edit-template-from
  .col-sm-12.text-right
    %span.editing-version editing version 1*
  .col-sm-12.form-content
    .row
      .col-sm-12.text-center
        = form_for(@app, url: create_tour_app_path(@app), method: :post) do |f|
          - if @app.errors.any?
            .row
              .col-sm-12
                = render 'shared/error_messages', resource: @app
          .templates_fields
            = f.fields_for :templates, @template do |tf|
              = render 'tour/template_fields', f: tf
            .links
              = link_to_add_association '+ add', f, :templates
          .row{style: 'margin-top: 20px;'}
            .col-sm-12
              %button.btn.btn-default{type: 'reset'} CANCEL
              %button.btn.btn-primary SAVE AS DRAFT

