- page_title 'Change your password'
%body.hold-transition.login-page
  .login-box
    .login-logo
      %a{:href => root_url}
        %b> ASS
        SDK
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token
      = render 'shared/error_messages', resource: resource
      .login-box-body
        = render 'shared/flash_messages'
        %p.login-box-msg Change your password
        .form-group.has-feedback
          = f.password_field :password,  class: 'form-control', placeholder: 'New Password'
          %span.glyphicon.glyphicon-lock.form-control-feedback
        .form-group.has-feedback
          = f.password_field :password_confirmation,  class: 'form-control', required: false, placeholder: 'Confirm New Password'
          %span.glyphicon.glyphicon-log-in.form-control-feedback
        .row
          .col-xs-12.pull-right
            = f.submit 'Change My Password', class: 'btn btn-primary btn-block btn-flat'
        %br
        = render "devise/shared/links"
