.container
  .card-panel
    .row
      .col.s12
        %h5 Forgot your password?
        .divider
        %br
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .row
            .col.s12
              - if resource.errors.any?
                = render 'shared/error_messages', resource: resource
          .row
            .input-field.col.s12
              = f.email_field :email, autofocus: true, class: 'validate'
              %label{:for => "email" , 'data-error'=> "Invlida email" , 'data-success'=>"right"} Email
          .row
            .col.s12
              = f.submit "Send", class: 'waves-effect waves-light btn'
          .row
            .col.s12
              = render "devise/shared/links"