-# Dialog box signup
#signup-dialog.mfp-hide
  .pop_up
    .payment-online-form-left
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        %h4
          %span.shipping
          Register
        %ul.list-unstyled
          %li
            = f.text_field :fname,  class: 'text-box-dark', required: true ,placeholder: 'First Name*'
          %li
            = f.text_field :lname,  class: 'text-box-dark', required: true, placeholder: 'Last Name*'
        %ul.list-unstyled
          %li
            = f.email_field :email,  class: 'text-box-dark', required: true, placeholder: 'Email*'
          %li
            = f.email_field :company,  class: 'text-box-dark', required: true,placeholder: 'Company Name*'
        %ul.list-unstyled
          %li
            = f.password_field :password, autocomplete: "off", required: true, class: 'text-box-dark',placeholder: 'Password*'
          %li
            = f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'text-box-dark',placeholder: 'Confirm Password*'
          .clear
        .clearfix
        %ul.payment-sendbtns.list-unstyled
          %li
            %input{:type => "reset", :value => "Reset"}
          %li
            = f.submit "Sign up"
        .clearfix
        .row.authentication-other
          .col-lg-12.text-center
            Have an account?
            %a.popup-with-zoom-anim{href: '#login-dialog'} Login Here