-# Dialog box signup
#signup-dialog.mfp-hide
  .pop_up
    .payment-online-form-left
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        %h4
          %span.shipping
          Register
        %ul.list-unstyled
          %li
            = f.text_field :fname,  class: 'text-box-dark', required: true,
                           :onblur => "if (this.value == '') {this.value = 'First Name';}",
                           :onfocus => "this.value = '';", :type => "text", :value => "Frist Name"
          %li
            = f.text_field :lname,  class: 'text-box-dark', required: true,
                           :onblur => "if (this.value == '') {this.value = 'Last Name';}",
                           :onfocus => "this.value = '';", :type => "text", :value => "Last Name"
        %ul.list-unstyled
          %li
            = f.email_field :email,  class: 'text-box-dark', required: true,
                            :onblur => "if (this.value == '') {this.value = 'Email';}",
                            :onfocus => "this.value = '';", :type => "text", :value => "Email"
          %li
            = f.email_field :company,  class: 'text-box-dark', required: true,
                            :onblur => "if (this.value == '') {this.value = 'Company Name';}",
                            :onfocus => "this.value = '';", :type => "text", :value => "Company Name"
        %ul.list-unstyled
          %li
            = f.password_field :password, autocomplete: "off", required: true, class: 'text-box-dark',
                               :onblur => "if (this.value == '') {this.value = 'Password';}",
                               :onfocus => "this.value = '';", :type => "text", :value => "Password"
          %li
            = f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'text-box-dark',
                               :onblur => "if (this.value == '') {this.value = 'Confirm password';}",
                               :onfocus => "this.value = '';", :type => "text", :value => "Confirm password"
          .clear
        .clearfix
        %ul.payment-sendbtns.list-unstyled
          %li
            %input{:type => "reset", :value => "Reset"}
          %li
            = f.submit "Sign up"
        .clearfix
        .row.authentication-other
          .col-lg-12.text-center
            Have an account?
            %a.popup-with-zoom-anim{href: '#login-dialog'} Login Here