= render 'home/bg'
= render 'home/login_dialog'
= render 'home/top_grids'
= render 'home/mid_grids'
= render 'home/signup_dialog'
= render 'home/price_tables'
= render 'home/video'
= render 'home/footer'