= page_title('Dashboard | My Apps')
%h5
  =@app.name
  %small versions
.row
  .col.s12
    - if @published_version
      %h5 Version #{@published_version.number} is Live
      %p Published #{time_ago_in_words(@published_version.published_at)} ago by #{current_user.email}
    - else
      %h4 App not published
.row
  .col.s12
    %h5 Versions
    %table.striped
      %thead
        %tr
          %th Version ID
          %th Status
          %th Created
          %th Published
          %th Published By
          %th Actions
      %tbody
        - @versions.each do |version|
          %tr{class: version.published? ? 'cyan-text' : nil}
            - if version.editing?
              %td= version.number
              %td Now Editing
              %td
              %td
              %td
              %td
                %a.dropdown-button.valign-wrapper{"data-activates" => "dropdown-version-#{version.number}", "data-beloworigin"=>"true",:href => "#"}
                  Actions
                  %i.material-icons arrow_drop_down
                %ul.dropdown-content{id: "dropdown-version-#{version.number}"}
                  %li
                    %a.modal-trigger.waves-effect.waves-light{:href => "#version-publish-modal", data: { app_id: @app.id,version_number: version.number,version_id: version.id,
                                                                                            toggle: 'modal'}} Publish
                  %li
                    %a{:href =>  version_preview_path(@app.id, version.id)} Preview
                  %li.divider
                  %li
                    %a{:href => "#"} Delete
            - else
              %td= version.number
              %td
                - if version.published?
                  %span.label.label-success Live
              %td= l(version.created_at)
              %td= version.published? ? l(version.published_at) : nil
              %td= @app.user.email
              %td
                %a.dropdown-button.valign-wrapper{"data-activates" => "dropdown-version-#{version.number}", "data-beloworigin"=>"true",:href => "#"}
                  Actions
                  %i.material-icons arrow_drop_down
                %ul.dropdown-content{id: "dropdown-version-#{version.number}"}
                  %li
                    %a.modal-trigger.waves-effect.waves-light{:href => "#version-publish-modal", data: { app_id: @app.id,version_number: version.number,version_id: version.id,
                                                                                            toggle: 'modal'}} Publish
                  %li
                    %a{:href => version_preview_path(@app.id, version.id)} Preview
                  %li.divider
                  %li
                    %a{:href => "#"} Delete

#version-publish-modal.modal
  .modal-content
    .modal-header
      %h4.modal-title Publish Version
    .modal-body
      %p
        Publishing will push the changes to live.
  .modal-footer
    %button.btn.modal-action.modal-close.waves-effect.waves-green.btn.cyan.left{"data-dismiss" => "modal", :type => "button"} Close
    %button.btn.modal-action.modal-close.waves-effect.waves-green.btn.cyan.right.btn-publish-now{"data-loading-text"=>btn_prog_text('Publishing..'), type: 'submit'} Publish Now

#published-success-modal.modal
  .modal-content
    .modal-header
      %h4.modal-title Success
    .modal-body
      %p
        Your changes are live now!
      %p
        %h4.published-version Version
      %p
        %h5 Published just now.
  .modal-footer
    %button.btn.modal-action.modal-close.waves-effect.waves-green.btn-done.cyan.left{:type => "button"} Done