= page_title('Dashboard | My Apps')
%section.content-header
  %h4
    = @app.name
    %small versions
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Dashboard
    %li
      %a{href: my_apps_path} Apps
    %li
      %a{href: app_path(@app)}= @app.name
    %li.active Versions
%section.content
  .row
    .col-md-12.col-xs-12
      .callout{class: @published_version ? 'callout-success' : 'callout-danger'}
        -#%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times
        - if @published_version
          %h4 Version #{@published_version.number} is Live
          %p Published #{l(@app.published_version.published_at, format: :long)} by #{current_user.email}
        - else
          %h4 App Not Published
          %p your app will return a 404 response until published
  .row
    .col-xs-12
      .box{class: @published_version ? 'box-success' : 'box-danger'}
        .box-header
          %h3.box-title Versions
          -#.box-tools
            .input-group.input-group-sm{:style => "width: 150px;"}
              %input.form-control.pull-right{:name => "table_search", :placeholder => "Search", :type => "text"}
                .input-group-btn
                  %button.btn.btn-default{:type => "submit"}
                    %i.fa.fa-search
        .box-body.app-versions-list.table-responsive.no-padding
          %table.table
            %tr
              %th Version ID
              %th Status
              %th Created
              %th Published
              %th Published By
              %th Actions
            - @versions.each do |version|
              %tr{class: version.published? ? 'text-green' : nil}
                - if version.editing?
                  %td= version.number
                  %td Now Editing
                  %td
                  %td
                  %td
                  %td
                    -#.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        Actions
                        %b.caret
                      %ul.dropdown-menu.pull-right
                        %li
                          %a{:href => "#"} Preview
                        %li.divider
                        %li
                          %a{:href => "#"} Create Version
                - else
                  %td= version.number
                  %td
                    - if version.published?
                      %span.label.label-success Live
                  %td= l(version.created_at)
                  %td= version.published? ? l(version.published_at) : nil
                  %td= @app.user.email
                  %td.dropdown.dropup
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      Actions
                      %b.caret
                    %ul.dropdown-menu.pull-right
                      %li
                        %a{:href => "#", data: {toggle: 'modal', target: '#myModal'}} Publish
                      %li.divider
                      %li
                        %a{:href => "#", tabindex: '-1'} Delete
#myModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times
        %h4.modal-title Default Modal
      .modal-body
        %p One fine body…
      .modal-footer
        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes
:javascript
  // $('.table-responsive tbody tr').slice(-2).find('.dropdown').addClass('dropup');