= page_title("#{@app.name} | Version Preview")
%section.content-header
  %h4
    Version #{@version.number} Preview
    %small= @app.name
  %ol.breadcrumb
    %li
      %a{href: my_apps_path} Apps
    %li
      %a{href: app_path(@app)}= @app.name
    %li
      %a{href: versions_path(@app)} Versions
    %li #{@version.number}
    %li.active Preview
%section.content
  .row
    .col-md-6.col-xs-6
      %h2.page-header Tour Assets
    .col-md-6.col-xs-6.text-right
      = link_to version_publish_path(@app,@version.id), method: :post, class: 'btn btn-progress btn-success btn-sm btn-flat',
        data: {"loading-text": btn_prog_text('Publishing ..'),confirm: 'Are you sure?'} do
        Publish
        %i.fa.fa-share
  .row
    .col-md-12.col-sx-12
      .nav-tabs-custom
        - if @tour_templates.blank?
          %p
            %code No Assets found.
        - else
          %ul.nav.nav-tabs
            - @tour_templates.each_with_index do |template, index|
              %li{class: index == 0 ? 'active' : nil}
                %a{"data-toggle" => "tab", :href => "#tour-tab-#{template.id}"} Step #{index+1}
            %li.dropdown.pull-right
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Actions
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => edit_tour_app_path(@app, version: @tour_templates.first.app_version), :role => "menuitem", :tabindex => "-1"}
                    %i.fa.fa-fw.fa-pencil
                    Edit Tour
          .tab-content
            - @tour_templates.each_with_index do |template, index|
              .tab-pane{id: "tour-tab-#{template.id}", class: index == 0 ? 'active' : nil}
                .box.box-solid
                  .box-header
                    %h3.box-title Image Asset
                  .box-body
                    %a.magnific-popup-img{href: template.source.url, title: 'Image Asset'}
                      %img.img-responsive.pad{:alt => "Photo", :src => template.source.thumb.url}
                    %p click on above image to preview
                    %span.pull-right.text-muted
                      #{time_ago_in_words(template.created_at)} ago
                .box.box-solid
                  .box-header
                    %h3.box-title Text Assets
                  .box-body.table-responsive.no-padding
                    %table.table.table-striped
                      %tr
                        %th #
                        %th Text
                        %th{style: 'width: 20px'} Position
                      - template.text_assets.each_with_index do |ts, index|
                        %tr
                          %td= "#{index+1}."
                          %td= ts.text
                          %td
                            %span.badge.bg-light-blue= ts.position
                .box.box-solid
                  .box-header
                    %h3.box-title Button Actions
                  .box-body.table-responsive.no-padding
                    %table.table.table-striped
                      %tr
                        %th #
                        %th Type
                        %th Label/Image
                        %th Target Event
                      - template.button_actions.each_with_index do |bc, index|
                        %tr
                          %td= "#{index+1}."
                          %td
                            - if bc.btn_type.eql?(1)
                              %span.badge.bg-light-blue Text
                            - else
                              %span.badge.bg-yellow Image
                          %td
                            - if bc.btn_type.eql?(1)
                              = bc.label
                            - else
                              %a.magnific-popup-img{href: bc.source.url, title: 'Image Asset'}
                                Show
                                %i.fa.fa-eye
                          %td= bc.target_event
  .row
    .col-md-12.col-sx-12
      .box.box-solid
        .box-header.with-border
          %h3.box-title Permission Assets
        .box-body
          #accordion.box-group
            - @permissions.each_with_index do |permission, index|
              -  template = @templates.where(permission: permission).first
              .panel.box{class: template ? 'box-success' : 'box-danger'}
                .box-header.with-border
                  %h4.box-title
                    %a{"aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-#{permission.id}"}
                      = permission.name
                  .dropdown.pull-right
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      Actions
                      %b.caret
                    %ul.dropdown-menu
                      - if template
                        %li
                          %a{:href => edit_template_path(template,version: template.app_version), :role => "menuitem", :tabindex => "-1"}
                            %i.fa.fa-fw.fa-pencil
                            Edit Assets
                        %li
                          %a.text-red{href: template_path(template,version: template.app_version), data: { method: :delete,confirm: 'Are you sure?'}}
                            %i.fa.fa-fw.fa-trash-o
                            Delete
                      - else
                        %li
                          %a{:href => add_template_path(@app, permission,@version.number), :role => "menuitem", :tabindex => "-1"}
                            %i.fa.fa-fw.fa-plus
                            Add Assets
                .panel-collapse.collapse{id: "collapse-#{permission.id}","aria-expanded" => "true", class: index == 0 ? 'in' : nil}
                  .box-body
                    - unless template
                      %p
                        %code No Assets found.
                    - else
                      .panel-collapse.collapse{id: "collapse-#{template.id}","aria-expanded" => "true", class: index == 0 ? 'in' : nil}
                        .box-body
                          .nav-tabs-custom{style: 'box-shadow: none;'}
                            %ul.nav.nav-tabs
                              %li.active
                                %a{"data-toggle" => "tab", :href => "#image-assets-tab-#{template.id}"} Image Asset
                              %li
                                %a{"data-toggle" => "tab", :href => "#text-assets-tab-#{template.id}"} Text Assets
                              %li
                                %a{"data-toggle" => "tab", :href => "#button-assets-tab-#{template.id}"} Btn Actions
                            .tab-content
                              .tab-pane.active{id: "image-assets-tab-#{template.id}"}
                                .box-body
                                  %a.magnific-popup-img{href: template.source.url, title: 'Image Asset'}
                                    %img.img-responsive.pad{:alt => "Photo", :src => template.source.thumb.url}
                                  %p click on above image to preview
                                  %span.pull-right.text-muted
                                    #{time_ago_in_words(template.created_at)} ago
                              .tab-pane.table-responsive.no-padding{id: "text-assets-tab-#{template.id}"}
                                %table.table.table-striped
                                  %tr
                                    %th #
                                    %th Text
                                    %th{style: 'width: 20px'} Position
                                  - template.text_assets.each_with_index do |ts, index|
                                    %tr
                                      %td= "#{index+1}."
                                      %td= ts.text
                                      %td
                                        %span.badge.bg-light-blue= ts.position
                              .tab-pane.table-responsive.no-padding{id: "button-assets-tab-#{template.id}"}
                                %table.table.table-striped
                                  %tr
                                    %th #
                                    %th Type
                                    %th Label/Image
                                    %th Target Event
                                  - template.button_actions.each_with_index do |bc, index|
                                    %tr
                                      %td= "#{index+1}."
                                      %td
                                        - if bc.btn_type.eql?(1)
                                          %span.badge.bg-light-blue Text
                                        - else
                                          %span.badge.bg-yellow Image
                                      %td
                                        - if bc.btn_type.eql?(1)
                                          = bc.label
                                        - else
                                          %a.magnific-popup-img{href: bc.source.url, title: 'Image Asset'}
                                            Show
                                            %i.fa.fa-eye
                                      %td= bc.target_event


