= page_title("#{@app.name} | Version Preview")
%h5
  Version #{@version.number} Preview
  %small= @app.name


.row
  .col.s6
    %h5 Tour Assets
  .col.s6
    = link_to version_publish_path(@app,@version.id), method: :post, class: 'btn waves-effect waves-light right',
      data: {"loading-text": btn_prog_text('Publishing ..'),confirm: 'Are you sure?'} do
      Publish
  .row
    .col.s12.m12
      .card-panel.grey.lighten-5.z-depth-1
        .row
          .col.s12
            - if @tour_templates.blank?
              %p
                %code No Assets found.
            - else
              %ul.tabs.cyan
                - @tour_templates.each_with_index do |template, index|
                  %li.tab.col.s3.white-text
                    %a.white-text{:href => "#tour-tab-#{template.id}", class: index == 0 ? 'active' : nil} Step #{index+1}
              - @tour_templates.each_with_index do |template, index|
                .col.s12{id: "tour-tab-#{template.id}", class: index == 0 ? 'active' : nil}
                  %h5 Image Asset
                  %img.materialboxed{:src => template.source.url, :width => "200"}/
                  %p click on above image to preview
                  %span #{time_ago_in_words(template.created_at)} ago
                  .divider
                  %h5 Text Assets
                  %table.striped
                    %thead
                      %tr
                        %th #
                        %th Text
                        %th Position
                    %tbody
                      - template.text_assets.each_with_index do |ts, index|
                        %tr
                          %td= "#{index+1}"
                          %td= ts.text
                          %td= ts.position
                  .divider
                  %h5 Button Actions
                  %table.striped
                    %thead
                      %tr
                        %th #
                        %th Type
                        %th Label/Image
                        %th Target Event
                    %tbody
                      - template.button_actions.each_with_index do |bc, index|
                        %tr
                          %td= "#{index+1}"
                          %td
                            - if bc.btn_type.eql?(1)
                              Text
                            - else
                              Image
                          %td
                            - if bc.btn_type.eql?(1)
                              = bc.label
                            - else
                              %img.materialboxed{src: bc.source.url, width: "50"}
                          %td= bc.target_event
.row
  .col.s12
    %h5 Permission Assets
  .row
    .col.s12.m12
      .card-panel.grey.lighten-5.z-depth-1
        .row
          .col.s12
            - @permissions.each_with_index do |permission, index|
              -  template = @templates.where(permission: permission).first
              %ul.collapsible{"data-collapsible" => "accordion"}
                %li
                  .collapsible-header
                    = permission.name
                    %a.right.dropdown-button.valign-wrapper{"data-activates" => "dropdown-#{index}", "data-beloworigin"=>"true",:href => "#"}
                      Actions
                      %i.material-icons arrow_drop_down
                    %ul.dropdown-content{id: "dropdown-#{index}"}
                      %li
                        %a{:href => edit_template_path(template,version: template.app_version), :role => "menuitem", :tabindex => "-1"} Edit
                      %li
                        %a.text-red{href: template_path(template,version: template.app_version), data: { method: :delete,confirm: 'Are you sure?'}} Delete
                  .collapsible-body
                    - unless template
                      %p
                        %code No Assets found.
                    - else
                      .row
                        .col.s12
                          %ul.tabs.cyan
                            %li.tab.col.s3
                              %a.white-text.active{:href => "#image-assets-tab-#{template.id}"} Image Asset
                            %li.tab.col.s3
                              %a.white-text{:href => "#text-assets-tab-#{template.id}"} Text Assets
                            %li.tab.col.s3
                              %a.white-text{:href => "#button-assets-tab-#{template.id}"} Btn Actions

                        .col.s12{id: "image-assets-tab-#{template.id}"}
                          %p
                            %img.materialboxed{:src => template.source.url, :width => "200"}/
                          .col.s6 click on above image to preview
                          .col.s6 #{time_ago_in_words(template.created_at)} ago
                        .col.s12{id: "text-assets-tab-#{template.id}"}
                          %table.striped
                            %thead
                              %tr
                                %th #
                                %th Text
                                %th Position
                            %tbody
                              - template.text_assets.each_with_index do |ts, index|
                                %tr
                                  %td= "#{index+1}"
                                  %td= ts.text
                                  %td= ts.position
                        .col.s12{id: "button-assets-tab-#{template.id}"}
                          %table.striped
                            %thead
                              %tr
                                %th #
                                %th Type
                                %th Label/Image
                                %th Target Event
                            %tbody
                              - template.button_actions.each_with_index do |bc, index|
                                %tr
                                  %td= "#{index+1}"
                                  %td
                                    - if bc.btn_type.eql?(1)
                                      Text
                                    - else
                                      Image
                                  %td
                                    - if bc.btn_type.eql?(1)
                                      = bc.label
                                    - else
                                      %img.materialboxed{:src => bc.source.url, :width => "50"}/
                                  %td= bc.target_event