- page_title 'Log in'
%body.hold-transition.login-page
  .login-box
    .login-logo
      %a{:href => root_url}
        %b> ASS
        SDK
    .login-box-body
      = render 'shared/flash_messages'
      %p.login-box-msg Sign in to start your session
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group.has-feedback
          = f.email_field :email, class: 'form-control',placeholder: 'Email'
          %span.glyphicon.glyphicon-envelope.form-control-feedback
        .form-group.has-feedback
          = f.password_field :password, autocomplete: "off",class: 'form-control',placeholder: 'Password'
          %span.glyphicon.glyphicon-lock.form-control-feedback
        .row
          .col-xs-8
            .checkbox.icheck
              %label
                = f.check_box :remember_me
                Remember Me
          .col-xs-4
            = f.submit 'Sign In', class: 'btn btn-primary btn-block btn-flat'
      .social-auth-links.text-center
        %p - OR -
        %a.btn.btn-block.btn-social.btn-github.btn-flat{:href => "#"}
          %i.fa.fa-github
          Sign in using
          Git hub
        %a.btn.btn-block.btn-social.btn-google.btn-flat{:href => "#"}
          %i.fa.fa-google-plus
          Sign in using
          Google+
      %a{:href =>  new_password_path(resource_name)} I forgot my password
      %br/
      %a.text-center{:href => new_registration_path(resource_name)} Register a new membership