= form_for(@app) do |f|
  .row
    .col.s12
      - if @app.errors.any?
        = render 'shared/error_messages', resource: @app
  .row
    .input-field.col.s12
      = f.text_field :name,  class: 'validate'#, required: true
      %label{:for => "app_name" } Name*
  .row
    .input-field.col.s12
      = f.text_area :description, class: 'materialize-textarea'
      %label{:for => "app_description"} Description
  .row
    .col{class: @app.persisted? ? 's6': 's12' }
      = f.submit btn_name, class: 'waves-effect waves-light btn'
    - if @app.persisted?
      .col.s6
        = link_to  app_path(@app), method: :delete, class: 'waves-effect waves-light btn red darken-2 right-align', data: { confirm: 'Are you certain you want to delete this?' } do
          %i.material-icons.left> close
          Delete