= page_title('Apps | Edit App')
%h5
  Edit App

= render 'shared/text_editing_version', app: @app, version: nil
= form_for(@app) do |f|
  .row
    .col.s12
      %h5= @app.name
      - if @app.errors.any?
        .row
          .col.s12
            = render 'shared/error_messages', resource: @app
      .row.valign-wrapper
        .col.s2.offset-s5
          .form-group
            %a{href: "#"}
              %img.circle.responsive-img.img-thumbnail.image-asset-source-preview{:alt => "", :src => @app.logo_url}/
            %label.white-txt.btn.btn-default.btn-sm.btn-file.cyan
              Choose
              = f.file_field :logo , style: 'display: none;', class: 'image-asset-source-input'
              %span.label.label-info

      .row
        .form-group.input-field.col.s12
          = f.text_field :name , class: 'form-control'
          %label{:for => "name"} Your app name*
      .row
        .form-group.input-field.col.s12
          = f.text_area :description, class: 'form-control materialize-textarea'
          %label{:for => "description"} App Description
      .row
        .col.s12.center
          %a.waves-effect.waves-light.btn.red.darken-1{href: my_apps_path}
            CANCEL
          %button.waves-effect.waves-light.btn.cyan{"data-loading-text"=>btn_prog_text('Updating'),:type => "submit"}
            Update
