= page_title('Apps | Edit App')
%section.content-header
  %h4
    Edit App
  %ol.breadcrumb
    %li
      %a{:href => '#'}
        %i.fa.fa-dashboard
        Dashboard
    %li
      %a{:href => my_apps_path}
        Apps
    %li
      %a{:href => my_apps_path}
        = @app.name
    %li.active Edit
%section.content
  = form_for(@app) do |f|
    .box.box-primary
      .box-header.with-border
        %h3.box-title= @app.name
        .box-tools.pull-right
          %a.btn.btn-danger.btn-sm{ href: app_path(@app), title: 'Delete App',
                                    data: { method: :delete, confirm: 'Are you sure?',toggle: 'tooltip',widget: 'remove'}}
            %i.fa.fa-times
      .box-body
        .row.text-center
          .col-md-8.col-md-offset-2.col-xs-12
            - if @app.errors.any?
              .row
                .col-xs-12
                  = render 'shared/error_messages', resource: @app
            .row
              .col-xs-12
                .form-group
                  %a{href: "#"}
                    %img.img-thumbnail#source-preview{width: 100, height: 100, src: @app.logo_url}
                  %label.btn.btn-default.btn-sm.btn-file{style: 'margin-left: 10px;'}
                    Choose..
                    = f.file_field :logo , style: 'display: none;'
                    %span.label.label-info
            .row
              .col-xs-12
                .form-group
                  = f.text_field :name, placeholder: 'Your app name*' , class: 'form-control'
            .row
              .col-xs-12
                .form-group
                  = f.text_area :description, placeholder: 'App Description' , class: 'form-control'
      .box-footer
        %a.btn.btn-default{href: my_apps_path} Cancel
        %button.btn.btn-primary.btn-progress.pull-right{"data-loading-text"=>btn_prog_text('Updating'),:type => "submit"} Update

