= page_title('Dashboard | My Apps')
%section.content-header
  %h4
    Summary
    %small Your apps
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Dashboard
    %li.active Apps
%section.content
  - if @my_apps.present?
    .row
      .col-xs-12
        .box
          .box-header
            %h3.box-title App List
            -#.box-tools
              .input-group.input-group-sm{:style => "width: 150px;"}
                %input.form-control.pull-right{:name => "table_search", :placeholder => "Search", :type => "text"}
                  .input-group-btn
                    %button.btn.btn-default{:type => "submit"}
                      %i.fa.fa-search
          .box-body.table-responsive.no-padding
            %table.my-apps-table.table.table-striped
              %tr
                %th #
                %th App Name
                %th Production Version
                %th Last Access Time
                %th Last Activity
                %th
              - @my_apps.each_with_index do |app, index|
                %tr
                  %td= index+1
                  %td= link_to app.name, app_path(app)
                  %td
                    - if app.published_version
                      %span.label.label-success version #{app.published_version.number}
                    - else
                      %span.label.label-danger editing version #{app.editing_version.number}
                  %td --
                  %td --
                  %td= link_to "versions (#{app.versions.count})", versions_path(app)
  - else
    .row
      .col-md-12
        .alert.alert-info.alert-dismissible
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %h4
            %i.icon.fa.fa-info
            Alert!
          Currently no apps found.
          = link_to 'Add New',new_app_path