= page_title('Create App')
%section.content-header
  %h5
    Create New App
%section.content
  = form_for(@app) do |f|
    .row
      .col.s12
        = f.hidden_field :platform_id, value: @default_platform.id
        - if @app.errors.any?
          .row
            .col.s12
              = render 'shared/error_messages', resource: @app
        .row.valign-wrapper
          .col.s2.offset-s5
            .form-group
              %a{href: "#"}
                %img.circle.responsive-img.img-thumbnail.image-asset-source-preview{:alt => "", :src => "http://placehold.it/100x100&text=Logo"}/
              %label.white-txt.btn.btn-default.btn-sm.btn-file.cyan
                Choose
                = f.file_field :logo , style: 'display: none;', class: 'image-asset-source-input'
                %span.label.label-info
        .row
          .form-group.input-field.col.s12
            %input#name.form-control.validate{:type => "text"}/
            %label{"data-error" => "", "data-success" => "", :for => "name"} Your app name*
        .row
          .form-group.input-field.col.s12
            %textarea#description.form-control.materialize-textarea.validate
            %label{"data-error" => "", "data-success" => "",:for => "description"} App Description


        .row
          .col.s12
            %strong Platform(s)
        .row
          .col.s12.m2.offset-l4
            .card
              .card-image
                %img{:src => "/assets/1472820374_16-apple.png", :height=>"100"}/
              .card-content.center
                %p.center
                  %input#platform_ios.with-gap{:name => "platform", :type => "radio", :value=>"ios"}/
                  %label{:for => "platform_ios"} iOS
          .col.s12.m2
            .card
              .card-image
                %img{:src => "/assets/1472820366_Android.png", :height=>"100"}/
              .card-content.center
                %p.center
                  %input#platform_android.with-gap{:name => "platform", :type => "radio", :value=>"android"}/
                  %label{:for => "platform_android"} Android


    .row.center
      .col.s12
        .box-footer
          %a.btn.btn-default.cyan{href: my_apps_path}
            %i.fa.fa-close
            CANCEL
          %button.btn.btn-primary.btn-progress.pull-right.cyan{"data-loading-text"=>btn_prog_text('Saving'),:type => "submit"}
            %i.fa.fa-check
            SAVE


