= page_title("App | #{@app.name}")
%h5
  = @app.name
  %small overview

.row
  .col.s12
    %h5 Details

  .col.s12.m12
    .card-panel.grey.lighten-5.z-depth-1
      .row.valign-wrapper
        .col.s2.center
          - if @app.logo.thumb.url
            %a.product-img.magnific-popup-img{href: @app.logo.url, title: @app.name}
              %img.circle.responsive-img{:alt => "", src: @app.logo.thumb.url}/
          - else
            %img.circle.responsive-img{:alt => "", src: "http://placehold.it/100x100&text=Logo"}/
        .col.s10
          %span.black-text
            %b
              = @app.name
            .chip.cyan.white-text.right
              - if @app.published_version
                %span.label.label-success.pull-right= "version #{@app.published_version.number}"
              - else
                %span.label.label-danger.pull-right= "editing #{@app.editing_version.number}"
            .row
              = @app.description
      .row
        .col.s2
        .col.s10
          %a.waves-effect.waves-light.btn.red.darken-1{href: app_path(@app), data: { method: :delete, confirm: 'Are you sure?' }}
            %i.material-icons.left delete
            Delete
          %a.waves-effect.waves-light.btn.cyan{href: edit_app_path(@app)}
            %i.material-icons.left mode_edit
            Edit
.row
  .col.s12
    %h5 Configuration
  .col.s12.m12
    .card-panel.grey.lighten-5.z-depth-1
      .row.valign-wrapper
        %table
          %thead
            %tr
              %th Client ID
              %th Client Token
          %tbody
            %tr
              %td= @app.client_id
              %td= @app.secret_token