:css
  .products-list .product-img img{
    height: 100px;
    width: 100px;
  }
  .products-list .product-info{
    margin-left: 120px;
  }

= page_title("App | #{@app.name}")
%section.content-header
  %h4= @app.name
  %ol.breadcrumb
    %li
      %a{:href => '#'}
        %i.fa.fa-dashboard
        Dashboard
    %li
      %a{:href => my_apps_path}
        Apps
    %li.active= @app.name
%section.content
  .box.box-default
    .box-header.with-border
      %h3.box-title Details
      .box-tools.pull-right
        %button.btn.btn-box-tool{ data:{'original-title'=> 'Collapse',toggle: 'tooltip', widget: 'collapse'}}
          %i.fa.fa-minus
        %a.btn.btn-box-tool{href: edit_app_path(@app), data:{'original-title'=> 'Edit',toggle: 'tooltip'}}
          %i.fa.fa-edit
    .box-body
      .products-list.product-list-in-box
        %li.item
          %a.product-img.magnific-popup-img{href: @app.logo.url, title: @app.name}
            %img.img-responsive.img-thumbnail{width: 100, height: 100, src: @app.logo_url}
          .product-info
            %a.product-title{:href => "javascript:void(0)"}
              = @app.name
              %span.label.label-success.pull-right= "version #{@app.current_version}"
            %span.product-description
              = @app.description
    .box-footer
      %a.btn.btn-danger.btn-flat.btn-sm{href: app_path(@app), data: { method: :delete, confirm: 'Are you sure?' }}
        %i.fa.fa-remove
        Delete
      %a.btn.btn-primary.btn-flat.btn-sm.pull-right{href: edit_app_path(@app)}
        %i.fa.fa-edit
        Edit
  .box.box-solid
    .box-header.with-border
      %h3.box-title Configuration
    / /.box-header
    .box-body
      #accordion.box-group
        / we are adding the .panel class so bootstrap.js collapse plugin detects it
        .panel.box.box-success
          .box-header.with-border
            %h4.box-title
              %a{"aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                %i.fa.fa-apple
                iOS
          #collapseOne.panel-collapse.collapse.in{"aria-expanded" => "true", :style => "padding-bottom: 20px;"}
            .box-body.table-responsive.no-padding
              %table.table.table-hover
                %tbody
                  %tr
                    %th CLIENT ID
                    %th CLIENT TOKEN
                    %th
                  %tr
                    %td.text-light-blue= @app.client_id
                    %td.text-light-blue= @app.secret_token
                    %td
                      %a.btn.btn-primary.btn-sm.btn-block
                        %i.fa.fa-download
                        = space
                        Download SDK
        .panel.box.box-default
          .box-header.with-border
            %h4.box-title
              %a.collapsed{"aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                %i.fa.fa-android
                Android
          #collapseTwo.panel-collapse.collapse{"aria-expanded" => "false", :style => "height: 0px; padding: 20px;"}
            .box-body
              %h3.text-yellow Coming Soon..