:css
  .platform-images span {
    bottom: 25px;
    left: 58px;
    position: absolute;
  }

= page_title("App: #{@app.name }")
.row
  .col-xs-6
    %strong= @app.name
  .col-xs-6.text-right
    %a.btn.btn-primary.btn-sm{href: '#'} Edit
%hr
.row.text-center
  .col-md-8.col-md-offset-2.col-sm-12
    .row
      .col-sm-12
        .form-group
          %a{href: "#"}
            %img.img-thumbnail{width: 100, height: 100, src: @app.logo_url}
    .row
      .col-sm-12
        = @app.name
        %hr

    .row
      .col-sm-12
        = @app.description
        %hr
.row.text-center
  .col-sm-12
    %fieldset
      %legend Configuration
      .row
        .col-md-2.col-md-offset-1.platform-images.col-xs-12
          = image_tag 'platform-ios.png', width: 100, height: 100
          %span.ios
            %i.fa.fa-check.fa-fw
        .col-md-9.col-xs-12
          .row{style: 'padding: 10px 0 10px 0;'}
            .col-md-4.text-right.col-xs-12
              CLIENT ID:
            .col-md-8.text-left.col-xs-12.primary-color
              = @app.client_id
          .row{style: 'padding: 10px 0 10px 0;'}
            .col-md-4.text-right.col-xs-12
              CLIENT TOKEN:
            .col-md-8.secret-token-text.text-left.col-xs-12.primary-color
              = @app.secret_token
          .row
            .col-md-12.col-md-offset-3.text-left.col-xs-12.underline-text
              %a{href: '#'} download sdk
.row.text-center
  .col-sm-12
    %fieldset
      %legend &nbsp;
      .row
        .col-md-2.col-md-offset-1.platform-images
          = image_tag 'platform-android-grey.png', width: 100, height: 100
          %span.android
            %i.fa.fa-check.fa-fw
        .col-md-9
          .row{style: 'padding: 10px 0 10px 0;'}
            .col-md-4.text-right
              CLIENT ID:
            .col-md-8.text-left.primary-color
              = '..'
          .row{style: 'padding: 10px 0 10px 0;'}
            .col-md-4.text-right
              CLIENT TOKEN:
            .col-md-8.secret-token-text.text-left.primary-color
              = '..'
.row
  .col-md-12.col-xs-12.text-center
    %a.btn.btn-danger{href: my_apps_path} DELETE




