= page_title('Profile')
%section.content-header
  %h4
    Profile
    %small
  %ol.breadcrumb
    %li
      %a{href: my_apps_path}
        %i.fa.fa-dashboard
        Dashboard
    %li
      User
    %li.active
      %a{href: profile_path} Profile
%section.content.user-profile
  .row
    .col-md-3
      / Profile Image
      .box.box-primary
        = form_for current_user, url: update_avatar_path, html: {method: :put,class: 'form-change-avatar'} do |f|
          = f.file_field :avatar, class:'hide input-change-avatar'
          .box-body.box-profile
            %a.magnific-popup-img{href:  current_user.avatar.url || '#' , title: 'Profile Picture'}
              %img.profile-user-img.img-responsive.img-circle{:alt => "User profile picture", src: user_avatar_thumb_src}/
            %h3.profile-username.text-center= current_user.full_name
            %p.text-muted.text-center
              = current_user.email
            %ul.list-group.list-group-unbordered
              %li.list-group-item
                %b Apps
                %a.pull-right{href: my_apps_path}
                  %u= @my_apps.count
              %li.list-group-item
                %b Published
                %a.pull-right{href: my_apps_path}
                  %u= @my_apps.where('versions.published' => true).count
            %a.btn.btn-primary.btn-block.btn-change-avatar{"data-loading-text"=>btn_prog_text('Uploading ..'),:href => "#"}
              %i.fa.fa-upload
              = space
              Change Avatar
      .box.box-primary
        .box-header.with-border
          %h3.box-title About Me
        .box-body
          %strong
            %i.fa.fa-bank.margin-r-5
            Company
          %p.text-muted
            = current_user.company
          %hr/
          %strong
            %i.fa.fa-phone.margin-r-5
            Phone
          %p.text-muted= current_user.phone
          %hr/
          %strong
            %i.fa.fa-file-text-o.margin-r-5
            Notes
          %p.text-muted= current_user.notes
    .col-md-9
      .form-error-messages
        = render 'shared/error_messages', resource: current_user
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#profile"} Profile
          %li
            %a{"data-toggle" => "tab", :href => "#change-password"} Change Password
        .tab-content
          #profile.tab-pane.active
            = form_for current_user, url: update_profile_path, html: {method: :put,class: 'form-update-profile form-horizontal'} do |f|
              .form-group
                %label.col-sm-2.control-label{:for => 'fullName'} Full Name*
                .col-sm-10
                  = f.text_field :full_name, class: 'form-control', placeholder: 'Full Name'
              .form-group
                %label.col-sm-2.control-label{:for => 'email'} Email*
                .col-sm-10
                  = f.text_field :email, class: 'form-control', type: 'email', disabled: true
              .form-group
                %label.col-sm-2.control-label{:for => 'phone'} Phone
                .col-sm-10
                  = f.text_field :phone, class: 'form-control', placeholder: 'Phone'
              .form-group
                %label.col-sm-2.control-label{:for => 'company'} Company
                .col-sm-10
                  = f.text_field :company, class: 'form-control', placeholder: 'Company'
              .form-group
                %label.col-sm-2.control-label{:for => 'notes'} Notes
                .col-sm-10
                  = f.text_area :notes, class: 'form-control', placeholder: 'Notes About me'
              .form-group
                .col-sm-offset-2.col-sm-10
                  %a.btn.btn-default{href: profile_path}
                    %i.fa.fa-close
                    Cancel
                  %button.btn.btn-success.btn-progress.bg-olive.pull-right{'data-loading-text'=>btn_prog_text('Updating ..'),:type => 'submit'} Update Profile
          #change-password.tab-pane
            = form_for current_user, url: update_password_path, remote: true, html: {method: :put,class: 'form-update-profile form-horizontal'} do |f|
              .form-group
                %label.col-sm-4.control-label{:for => "currentPassword"} Current Password*
                .col-sm-7
                  = f.password_field :current_password, class: 'form-control', placeholder: 'Current Password*', autocomplete: 'off'
              .form-group
                %label.col-sm-4.control-label{:for => "currentPassword"} New Password*
                .col-sm-7
                  = f.password_field :password, class: 'form-control', placeholder: 'New Password*', autocomplete: 'off'
              .form-group
                %label.col-sm-4.control-label{:for => "currentPassword"} Confirm New Password*
                .col-sm-7
                  = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm New Password*', autocomplete: 'off'
              .form-group
                .col-sm-offset-2.col-sm-10
                  %a.btn.btn-default{href: profile_path}
                    %i.fa.fa-close
                    Cancel
                  %button.btn.btn-danger.btn-progress.pull-right{'data-loading-text'=>btn_prog_text('Updating ..'),:type => 'submit'} Update Password

