!!!
%html
  %head
    / Let browser know website is optimized for mobile
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title AssSdk
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    // to use google icons
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    = render 'shared/navbar'
    = yield
    :javascript
      // Materialize.toast(message, displayLength, className, completeCallback);
      Materialize.toast("#{flash[:notice]}", 4000)
