!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
    -#= stylesheet_link_tag  'theme-style', media: 'all'
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{ name: 'keywords', content: meta_keywords }
    %meta{ name: 'description', content: meta_description }
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = csrf_meta_tags
  %body
    .navbar-fixed
      %nav.cyan
        .nav-wrapper
          .row
            .col.s12
              %a.brand-logo{:href => root_url} ASS SDK
              %ul#nav-mobile.right.hide-on-med-and-down
                %li
                  = link_to 'Login', new_session_path(resource_name)
    = yield
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true