!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -#= stylesheet_link_tag  'theme-style', media: 'all'
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{ name: 'keywords', content: meta_keywords }
    %meta{ name: 'description', content: meta_description }
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
