!!!
%html
  %head
    %title AssSdk
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %title Flat-Mate Website Template | Home :: w3layouts
    = stylesheet_link_tag    'home-manifest', media: 'all', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Fauna+One", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
    = javascript_include_tag 'home-manifest', 'data-turbolinks-track' => true
    :javascript
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

  %body
    = yield
